{% extends 'portfolio/base.html' %}

{% block content %}
{% load static %}
<a href="{% url 'blog:all-blogs'  %}">Blog</a>

<a href="{% static 'portfolio/OMIS 607 Theories Supplementary Exam 2020.pdf' %}">Resume</a>
<img src="{% static 'portfolio/delsamobile_banner.jpg' %}" />
<h1> {{ home }} </h1>

{% for project in projects %}

<h2> {{ project.title }}</h2>
<p> {{ project.description }}</p>
<img src="{{ project.image.url }}" />
{% if project.url %}
<a href="{{ project.url }}" >Link </a>
{% endif %}

{% endfor %}

{% endblock %}