{% extends 'portfolio/base.html' %}

{% block content %}
<h1> Saviour has written {{ blogs.count }} blog{{ blogs.count | pluralize }}</h1>

{% for blog in blogs %}
<a href="{% url 'blog:detail' blog.id %}"><h2> {{ blog.title }}</h2></a>
<p>{{ blog.date }}</p>
<p> {{ blog.description|safe | truncatechars:100 }} </p>
{% endfor %}

{% endblock %}